SQLALCHEMY_DATABASE_URI = 'postgresql://postgres:postgres@postgres'
DEBUG = 'TRUE'
SECRET_KEY = 'secret'
SETTINGS_PATH = '../settings.yaml'
# When set to True then header 'Access-Control-Allow-Origin' with value '*' is added to each response
ALLOW_ANY_ORIGIN = False
