SQLALCHEMY_DATABASE_URI = 'postgresql://postgres:postgres@example'
DEBUG = 'FALSE'
PORT = 5002
SECRET_KEY = 'secret'
HOST = '127.0.0.1'
SETTINGS_PATH = '../settings.yaml'
# When set to True then header 'Access-Control-Allow-Origin' with value '*' is added to each response
ALLOW_ANY_ORIGIN = False
